/* header */

.header-bg-img{
    background-image: url(../images/header-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 1080px;
    position: relative;
}
.logo{
    position: absolute;
    left: 235px;
    top: 40px;
}
.header-text{
    position: absolute;
    top: 345px;
    left: 284px;
    font-size: 96px;
    color: white;
}
.navigation{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;  
}
.left-nav{
    display: flex;
    align-items: center;
    height: 109px;
    background-color: #281923;
    opacity: 61%;
}
.left-nav a{
    color: white;
}
.left-nav a{
    margin-right: 54px;
}
.left-nav a:nth-child(1){
    margin-left: 65px;
}

.right-nav{
    display: flex;
    align-items: center;
    background-color: #A80E0E;
    height: 109px;
}
.right-nav a{
    margin-right: 54px;
}
.right-nav a:nth-child(1){
    margin-left: 66px;
}
.right-nav a:nth-child(3){
    margin-right:93px;
}
.img-wrapper{
    background-image: url(../images/offer.svg);
    background-repeat: no-repeat;
    position: relative;
    max-width: 782px;
    height: 132px;
    left: 171px;
    top: 462px;
    transform: rotate(-4deg);
}
.text{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%) rotate(4deg);
    font-size: 30px;
    color: #FFFFFF;
    max-width: 375px;
    font-family: 'Montserrat';
    line-height: 40px;
   
}
.ordernow{
    background-color: #FFAA00;
    border-radius: 90px;
    width: 255px;
    height: 68px;
    position: absolute;
    top: 689px;
    left: 235px;
    font-size: 27px;
    color:#A80E0E;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.section-split{
    max-width: 100%;
    height: 71px;
    position: absolute;
    left: 0;
    top: 1040px;
}

/* /* .arrow1{ 
    background-image: url(../images/arrow1.svg);
    max-width: 63px;
    position: absolute;
    height: 54px;
    bottom: 5%;
    left: 50%;
}
.arrow2{
  background-image: url(../images/arrow2.svg);
  max-width:22px;
  height: 42px;
  position: absolute;
  top: 50%;
  left: 3%;
}
.arrow3{
    background-image: url(../images/arrow3.svg);
    max-width:22px;
    height: 42px;
    position: absolute;
    top: 50%;
    right: 5%;
  } */

  /* section1 */


.menu{
    max-width: 1400px;
    height: 212px;
    margin: 0 auto;
    display: flex;
}
.section-ttl{
    width: 710px;
    text-align: center;
    padding-top: 119px;
    padding-bottom: 72px;
    margin: 0 auto;
}
.section-ttl h2{
    font-size: 50px;
    color: #A80E0E;
    margin-bottom: 12px;
}
.section-ttl h3{
    font-size: 20px;
    color: #382E36;
    margin-top: 18px;
}
/* menu navigation */
.hover-box{
    width: 248px;
    height: 236px;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px; 
}
.burger-icon{
    width: 100px;
    height: 83px;
    
}
.pizza-icon{
    width: 95px;
    height: 116px;
    
}
.frenchfries{
    width: 75px;
    height: 98px;
   
}
.cupcake-icon{
    width: 70px;
    height: 115px;
    
}
.sandwich-icon{
    width: 88px;
    height: 88px;
    
}
.spaghetti{
    width: 108px;
    height: 117px;
    
}
/* section1*/
.section1-bg{
    margin-top:209px;
    background-color: #FFAA00;
    background-repeat: repeat;
    max-width: 100%;
    height: 852px;
    position: relative;
    
}
.sect1-brush-up{
    max-width: 100%;
    position: absolute;
    top: -30px;
    left: 0;
}
.sect1-brush-down{
    max-width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 15;
}
.deliveryman{
    position: absolute;
    left: 14px;
    bottom:0;
    max-width: 809px;
    height: 809px;
}
.redbrush{
    position: absolute;
    top: 277px;
    left: 718px;
}
.section1-bg p{
    position: absolute;
    top: 354px;
    left: 866px;
    max-width:436px;
    font-size: 47px;
    color: #FFFFFF;
    z-index: 15;
}
.section1-bg h6{
    position: absolute;
    top: 544px;
    left: 866px;
    font-size: 20px;
    font-family: 'Montserrat';
    color: white;
    max-width: 449px;
}

.right-block h3{
    font-size: 20px;
    color: #FFFFFF;
    width: 449px;
    font-family: 'Montserrat';
    text-align: left;
    margin-left: 14%;
    line-height: 30px;

} 

/* section2 */
.section2{
    max-width: 1447px;
    margin: 0 auto;
    padding-bottom: 100px;
}
.line1{
    display: flex;
    width: 1447px;
    justify-content: space-between;
    margin-bottom: 100px;
}
.menu-img{
    position: relative;
}
.menu-split2{
    position:absolute;
    top:98%;
    left: 0;
    height: 6px;
    width: 444px;
}
.menu-box{
    max-width: 444px;
    height: 537px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 15px 10px #0000000c;
}
.menu-text{
    margin: 35px 29px 33px 36px;
}
.menu-text h3{
    margin-top: 19px;
    margin-bottom: 12px;
    font-size: 22px;
    font-family: 'Montserrat';
}
.menu-text h6{
    font-size: 16px;
    font-family: 'Montserrat';
    color:#686868;
    margin-bottom: 30px;
}
.menu-text h4{
    font-size: 16px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
}
.menu-text h4::before{
    content: url(../images/rate-icon.svg);
    max-width: 21px;
    height: 20px;
    margin-right: 7.1px;
    display: flex;
    align-items: center;
}
.cart-wrapper{
    display: flex;
   align-items: center;
}
.cart-div{
    background-color: #FFAA00;
    border-radius: 30px;
    width: 164px;
 
}
.addtocart{
    align-self: center;
    max-width: 164px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: 'Montserrat';
    color: white;
    
}
.addtocart img{
    margin-right: 12px;
}
.money{
    font-size: 22px;
    color: #A80E0E;
    margin-left: 12px;
}
/* show our menu thing */
.show-menu{
    background-color: #A80E0E;
    border-radius: 90px;
    width: 255px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 18px;
    color:white;
    text-transform: capitalize;
    word-spacing: 5px;
    
}
/* section 3 */
.section3-bg{
    max-width: 100%;
    height: 852px;
    position: relative;  
}
.sect3-brush-up{
    max-width: 100%;
    position: absolute;
    top: -30px;
    left: 0;
}
.sect3-brush-down{
    max-width: 100%;
    position: absolute;
    bottom: -30px;
    left: 0;
}
/* section3 testimonials part */
.testimonials{
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    
}
.testimonials-l{
    width: 50%;
    height: 745px;
    position: relative;
}
.woman-burger{
    max-width: 670px;
    height: 636px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 15;
}
.redbox{
    max-width: 414px;
    height: 363px;
    position: absolute;
    left: 0;
    bottom: 0;
    
}
.testimonials-r{
    max-width: 50%;
}
.testimonial-txt{
    max-width: 710px;
    font-size: 20px;
    font-family: 'Montserrat';
    margin-bottom: 56px;
}
.quote{
    margin: 102px auto 54.9px auto;
}
.test-wrapper{
    margin-left: 70px;
}
.author {
    font-size: 25px;
    font-family: 'Montserrat';
    margin-bottom: 12px;
}
.author::after {
    content: "";
    width: 58px;
    height: 1px;
    background-color: #A80E0E;
    display: inline-block;
    vertical-align: middle;
    margin-left: 19px;
}
.test-wrapper h6{
    font-size: 16px;
    color: #686868;
    font-family: 'Montserrat';
}